.register-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;

  .register-form {
    display: flex;
    background-color: #999;
    max-width: 600px;
    padding: 20px;
  }
}

mat-form-field {
  width: 100%;
  margin-bottom: 16px;
}

button {
  width: 100%;
}
