<div class="login-container">
  <div class="login-form">
    <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
      <mat-form-field appearance="fill">
        <mat-label>Email</mat-label>
        <input matInput formControlName="email" type="email" placeholder="Nhập email" />
        <mat-error
          *ngIf="loginForm.controls['email'].invalid && loginForm.controls['email'].touched"
        >
          Email không hợp lệ
        </mat-error>
      </mat-form-field>

      <mat-form-field appearance="fill">
        <mat-label>Password</mat-label>
        <input matInput formControlName="password" type="password" placeholder="Nhập mật khẩu" />
        <mat-error
          *ngIf="loginForm.controls['password'].invalid && loginForm.controls['password'].touched"
        >
          Mật khẩu không được bỏ trống
        </mat-error>
      </mat-form-field>

      <button mat-raised-button color="primary" type="submit" [disabled]="loginForm.invalid">
        Đăng nhập
      </button>

      <div class="options">
        <a href="/register">Đăng ký</a>
        <a href="/forget-password">Quên mật khẩu</a>
      </div>
    </form>
    <button mat-raised-button color="accent" (click)="loginWithGoogle()" style="margin-top: 10px">
      Đăng nhập bằng Google
    </button>
  </div>
</div>
